//Devices styles
form { gap: 20px; }

h1 { font-size: 23px; }

.input-form { padding: 5px; }

.card {
    padding: 15px;
    border-radius: 10px;
}

input { padding: 5px; }

.details {
    width: 100%;
    margin-bottom: 20px;
}

.device-tag { gap: 80px; }

blockquote { gap: 10px; }

.output-label {
    font-weight: 600;
    text-decoration: underline;
}

.save-dev-btn {
    padding: 10px 40px;
    font-weight: 700;
    color: #f5f5f7;
    background-color: #3D3DEE;
    border: none;
    border-radius: 10px;
}

.label { margin-bottom: 2px; }

.brand-field { gap: 10px; }

.add-btn {
    display: inline-block;
    width: 50px;
}

.form-control { width: 200px; }

.brand-container { gap: 10px; }

.specs-container {
    flex-wrap: wrap;
    gap: 30px 10px;
    justify-content: space-between;
    margin-top: 15px;
}

.input-field {
    flex-direction: row;
    gap: 25px;
}

.labeled-field { flex-direction: column; }

.processors { width: 220px; }

.input-container { gap: 10px; }

input[type='number'] { width: 80px; }

#storage-size { margin-left: 7px; }

.classification,
.details { justify-content: space-between; }

.details,
.brand-container { align-items: end; }

.destination,
.identification { gap: 70px; }

.size-field,
.type { gap: 8px; }

.labeled-field,
.size-field,
.type { align-items: center; }

.device-info,
.form-container,
form { flex-direction: column; }

select,
input,
.add-btn { height: 2rem; }

form,
.details,
.device-tag,
blockquote,
.brand-field,
.classification,
.form-container,
.brand-container,
.identification,
.destination,
.specs-container,
.input-field,
.labeled-field,
.input-container,
.size-field,
.type  { display: flex; }

.rotate {
    animation-name: animate-add-btn;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    margin-top: 2px;
}


@keyframes animate-add-btn {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(9deg); }
    40% { transform: rotate(18deg); }
    60% { transform: rotate(27deg); }
    80% { transform: rotate(36deg); }
    100% { transform: rotate(45deg); }
}

button:disabled {
    background-color: #d7e0ff;
    color: #110a42;
    border: 1px solid #110a42;
}
