@if (!isAuthenticated) {
  <main class="initial">
      <div class="card gray-border">
          <img src="images/IMISS.png" alt="logo" *ngIf="toggleLoginForm">
          <app-login *ngIf="toggleLoginForm" (booleanEvent)="toggleSignup($event)"/>
          <app-signup *ngIf="toggleSignupForm" (booleanEvent)="toggleLogin($event)"/>
      </div>
  </main>
} @else {
  <main class="landing">
      <app-navigation />
      <aside>
          <section *ngIf="!isNavigatingComponent()">
              <h1> Announcement </h1>
          </section>
          <router-outlet />
      </aside>
  </main>
}
