section {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 8rem;
}

input[type='search'] {
    padding: 10px;
    width: 300px;
}

.search-btn { width: 100px; }

.search-container { gap: 20px; }

.add-btn {
    align-items: center;
    justify-content: space-around;
    width: 8rem;
}

.add-label { margin-right: 5px; }

input[type='search'],
.add-btn,
.search-btn { height: 2.8rem; }

section,
.search-container,
.add-btn { display: flex; }

//Modal extra styles
.modal-body { margin-top: 2rem; }

app-batch, app-supplier { width: 100%; }
