<aside class="page">
    <header class="page-header">
        <a href="" class="page-title"> Batch Delivery </a>
    </header>
    <section class="gray-border">
        <div class="search-container">
            <input matInput class="gray-border br" (keyup)="applyFilter($event)" type="search" id="search-bar" placeholder="Search for batch" #input>
            <button type="submit" class="search-btn bold"> Search </button>
        </div>
        <button type="button" class="add-btn" (click)="addBatchModal.style.display = 'block'">
            <span class="material-symbols-rounded"> add </span>
            <p class="add-label"> Add Batch </p>
        </button>
    </section>
    <table mat-table [dataSource]="fetchedData" matSort>
        <ng-container matColumnDef="formattedId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch ID </th>
            <td mat-cell *matCellDef="let row"> {{ row.formattedId }} </td>
        </ng-container>
        <ng-container matColumnDef="supplier">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier </th>
            <td mat-cell *matCellDef="let row"> {{ row.supplier }} </td>
        </ng-container>
        <ng-container matColumnDef="dateDelivered">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Delivered </th>
            <td mat-cell *matCellDef="let row"> {{ row.dateDelivered }} </td>
        </ng-container>
        <ng-container matColumnDef="validUntil">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valid Until </th>
            <td mat-cell *matCellDef="let row"> {{ row.validUntil }} </td>
        </ng-container>
        <ng-container matColumnDef="settings">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row">
                <button type="button" class="batch-settings-btn" [matMenuTriggerFor]="menu">
                    <span class="material-symbols-rounded"> more_vert </span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onClickEdit(row)">
                        Edit
                    </button>
                    <button mat-menu-item>
                        Delete
                    </button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4"> No data matching the filter: {{ input.value }} </td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[1, 2, 3]" aria-label="Select page of batches"></mat-paginator>
</aside>

<div class="modal" #addBatchModal>
    <div class="modal-content">
        <div class="modal-header">
            <h3> {{ toggleBatchForm ? 'Add Batch' : 'Supplier Information' }} </h3>
            <button class="close-btn" type="button" (click)="addBatchModal.style.display = 'none'">
                <span class="material-symbols-rounded"> close </span>
            </button>
        </div>
        <div class="modal-body">
            <batch [hidden]="!toggleBatchForm"
                  (booleanEvent)="toggleSupplier($event)"
                  [batchCounter]="counter" />
            <supplier [hidden]="!toggleSupplierForm"
                      (booleanEvent)="toggleBatch($event)" />
        </div>
    </div>
</div>
