section {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 8rem;
}

.searchbar {
    padding: 10px;
    width: 300px;
}

.search-btn { width: 100px; }

.search-container {
    gap: 20px;
}

.searchbar,
.add-btn,
.search-btn { height: 2.8rem; }

.add-btn {
    align-items: center;
    justify-content: space-around;
    width: 8.5rem;
}

.add-label { margin-right: 3px; }

section,
.add-btn,
.search-container { display: flex; }

//Modal styles
.modal-body { margin-top: 2rem; }

app-batch, app-supplier { width: 100%; }

