section {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 8rem;
}

section { display: flex; }

//Modal styles
.modal-body { margin-top: 2rem; }

app-batch, app-supplier { width: 100%; }
