<p-toast />

<main class="initial_page grid h-svh w-svw" *ngIf="!isUserLogged(); else loggedIn">
    <div class="card w-3/4 h-4/5 rounded-xl flex flex-row justify-between">
        <span class="logo_container">
            <img src="images/IMISS.png"  alt="imiss_logo" class="sm:w-[30%] lg:w-[70%]">
        </span>
        <span class="form_container p-10 flex flex-col justify-between rounded-lg">
            <header class="mb-10">
                <h2 class="font-bold text-3xl"> DIS: Device Inventory System </h2>
                @if (!isSigningUp()) {
                    <p class="text-gray-400"> Log in your account to continue </p>
                } @else {
                    <p class="text-gray-400"> Fill-up to create your account </p>
                }
            </header>
            @if (!isSigningUp()) {
                <app-login class="h-full" [isSigningUp]="updateState"/>
            } @else {
                <app-signup class="h-full" [isSigningUp]="updateState"/>
            }
        </span>
    </div>
</main>

<ng-template #loggedIn>
    <main class="h-svh w-svw flex">
        <app-navigation (activeLink)="handleActiveLink($event)"/>
        <section class="flex flex-col w-full bg-[#f1f5f9]">
            <header class="flex p-9 justify-between">
                <div class="flex items-center gap-6">
                    <button class="nav_btn flex justify-center items-center" type="button">
                        <span class="material-symbols-outlined text-3xl"> list </span>
                    </button>
                    <div class="label flex gap-4 items-center">
                        <h1 class="font-semibold text-xl"> {{ navigationLabel() }} </h1>
                        <h1 class="text-2xl"> </h1>
                        <h1 class="font-semibold">  </h1>
                    </div>
                </div>
                <div class="flex">
                    <p-menu #menu [model]="profileMenu" [popup]="true" />
                    <button type="button" (click)="menu.toggle($event)">
                        <span class="material-symbols-outlined text-3xl"> account_circle </span>
                    </button>
                </div>
            </header>
            <router-outlet />
        </section>
    </main>
</ng-template>
