<form action="" [formGroup]="printerForm">
    <div class="card gray-border device-info">
        <h1> Device Information </h1>
        <div class="details">
            <div class="device-tag">
                <blockquote>
                    <p> Batch Number: </p>
                    <p class="output-label"> {{ batchNumber }} </p>
                </blockquote>
                <blockquote>
                    <p> Device: </p>
                    <p class="output-label"> {{ device.name }} </p>
                </blockquote>
                <blockquote>
                    <p> Device Count: </p>
                    <p class="output-label"> {{ deviceCount }} </p>
                </blockquote>
            </div>
            <button class="save-dev-btn" type="submit" (click)="postPrinterSpecs()"> SAVE </button>
        </div>
        <div class="classification">
            <div class="identification">
                <div class="brand-container">
                    <div class="form-container">
                        <label for="aio-brand" class="label"> Brand Name </label>
                        <select title="aio-brand" id="print-brand" class="form-control" *ngIf="!isPrinterBrandToggled" (change)="getPrinterBrandValue()" formControlName="brandId">
                            <option [value]="null" selected disabled> Select printer brand </option>
                            <option [value]="printer.id" *ngFor="let printer of fetchedPrinterBrand"> {{ printer.brand }} </option>
                        </select>
                        <input type="text" class="form-control input-form" *ngIf="isPrinterBrandToggled" placeholder="Input printer brand" (blur)="onPrinterBrandInput($event)">
                    </div>
                    <button class="add-btn" type="button" (click)="togglePrinterBrandField()">
                        <span class="material-symbols-rounded add-aio-brand" [class.rotate]="isPrinterBrandAnimated"> add </span>
                    </button>
                </div>
                <div class="form-container">
                    <label for="model" class="label"> Model </label>
                    <input type="text" class="form-control" id="model" placeholder="Input printer model" formControlName="model">
                </div>
            </div>
            <div class="destination">
                <div class="form-container">
                    <label for="division" class="label"> Division </label>
                    <select title="division" class="form-control" id="division" (change)="getDivisionValue()" formControlName="divisionId">
                        <option [value]="null" selected disabled> Select division </option>
                        <option [value]="division.id" *ngFor="let division of fetchedDivision"> {{ division.name }} </option>
                    </select>
                </div>
                <div class="form-container">
                    <label for="section" class="label"> Section </label>
                    <select title="section" class="form-control" id="section" (change)="getSectionValue()" formControlName="sectionId">
                        <option [value]="null" selected disabled> Select section </option>
                        <option [value]="section.id" *ngFor="let section of fetchedSection"> {{ section.name }} </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card gray-border specs">
        <h1> Specifications </h1>
        <div class="specs-container">
            <div class="form-container">
                <label class="label" for="printer-type"> Printer Type </label>
                <div class="input-field">
                    <div class="input-container">
                        <select title="proc-brand" class="form-control" id="printer-type" (change)="getPrinterTypeValue()" formControlName="printerTypeId">
                            <option [value]="null" selected disabled> Select brand option </option>
                            <option [value]="type.id" *ngFor="let type of fetchedType"> {{ type.type }} </option>
                        </select>
                        <div class="size-field">
                            <input type="checkbox" id="scanner" formControlName="withScanner">
                            <label for="scanner"> with scanner </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


