<aside class="page">
    <nav class="navigation">
        <header class="page-header">
            <a class="page-title"> Batch Delivery </a>
            <span class="material-symbols-rounded divider"> arrow_forward_ios </span>
            <a class="page-title current"> {{ isViewingBatch ? 'View' : isAddingBatch ? 'Add' : 'Edit' }} Batch </a>
        </header>
        <button type="button" class="back-btn" (click)="backButton()">
            <span class="material-symbols-rounded"> reply </span>
            <p class="button-label"> Back </p>
        </button>
    </nav>
    <div class="batch-container gray-border">
        <div class="batch-details">
            <blockquote>
                <p> PR Number: </p>
                <p class="output-label bold"> {{ batchDetails?.purchaseRequestDTO.number }} </p>
            </blockquote>
            <blockquote>
                <p> Batch Number: </p>
                <p class="output-label bold"> {{ batchDetails?.formattedId }} </p>
            </blockquote>
            <blockquote>
                <p> Date Created: </p>
                <p class="output-label bold"> {{ batchDetails?.createdAt }} </p>
            </blockquote>
        </div>
        <div class="button-field">
            <button type="button" class="add-btn" (click)="addDeviceModal.style.display = 'block'">
                <span class="material-symbols-rounded"> add </span>
                <p class="add-label bold"> Add Device </p>
            </button>
            <button type="button" class="save-btn">
                <span class="material-symbols-rounded"> check </span>
                <p class="save-label bold"> Save </p>
            </button>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="tag">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Computer Tag </th>
            <td mat-cell *matCellDef="let row"> {{ row.tag }} </td>
        </ng-container>
        <ng-container matColumnDef="device">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Device </th>
            <td mat-cell *matCellDef="let row"> {{ row.device }} </td>
        </ng-container>
        <ng-container matColumnDef="division">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
            <td mat-cell *matCellDef="let row"> {{ row.division }} </td>
        </ng-container>
        <ng-container matColumnDef="section">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Section </th>
            <td mat-cell *matCellDef="let row"> {{ row.section }} </td>
        </ng-container>
        <ng-container matColumnDef="settings">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row">
                <button type="button" class="batch-settings-btn" [matMenuTriggerFor]="menu">
                    <span class="material-symbols-rounded"> more_vert </span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item> View </button>
                    <button mat-menu-item> Edit </button>
                    <button mat-menu-item> Delete </button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5"> No data matched. </td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" aria-label="Select page of devices"/>
</aside>

<div class="modal" #addDeviceModal>
    <div class="modal-content">
        <div class="modal-header">
            <h3> Add Device </h3>
            <button class="close-btn" type="button" (click)="addDeviceModal.style.display = 'none'">
                <span class="material-symbols-rounded"> close </span>
            </button>
        </div>
        <div class="modal-body">
            <form class="device-form" action="">
                <div class="form-field">
                    <label for="device"> Device </label>
                    <select title="device" class="form-control" id="device" #device>
                        <option [value]="" selected disabled> Select a device </option>
                        <option [value]="device.name" *ngFor="let device of devices"> {{ device.name }} </option>
                    </select>
                </div>
                <div class="form-field">
                    <label for="count"> Device count </label>
                    <input type="number" class="form-control" id="count" min="0" #count>
                </div>
                <div class="btn-container">
                    <button type="button" class="add-dev-btn" (click)="routeSelectedDevice()"> Add </button>
                </div>
            </form>
        </div>
    </div>
</div>
