.back-btn { gap: 5px; }

.batch-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding: 10px 15px;
    @media (max-width: 1024px) {
        height: 33%;
    }
}

.batch-details {
    gap: 5rem;
    @media (max-width: 1024px) {
        gap: 3rem;
        justify-content: space-between;
        align-items: center;
    }
}

.pr-block {
    width: 96px;
}

blockquote {
    gap: 10px;
    width: 120px;
}

.output-label { text-decoration: underline; }

.button-field {
    gap: 20px;
    @media (max-width: 1024px) {
        width: 8rem;
        gap: 5px;
        justify-content: end;
    }
}

.add-btn {
    width: 8rem;
}

.save-btn {
    width: 6rem;
    @media (max-width: 1024px) {
        width: 8rem;
    }
}

.button-field,
blockquote {
  flex-wrap: wrap;
}

.add-btn,
.save-btn {
    justify-content: space-around;
    align-items: center;
    height: 2.8rem;
}

.batch-container,
.batch-details,
blockquote,
.button-field,
.add-btn,
.save-btn { display: flex; }

//Modal extra styles
.device-form {
    gap: 15px;
    width: 100%;
    margin-top: 1.8rem;
}

.form-control { height: 2.15rem; }

input[type='number'] {
    width: 75px;
    padding: 5px;
}

.batch-settings-btn {
    border: none;
    background-color: transparent;
}

.add-dev-btn {
    width: 200px;
    height: 2.5rem;
}

.btn-container {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}

.device-form,
.form-field { flex-direction: column; }

.device-form,
.form-field,
.btn-container { display: flex; }
