<form action="" [formGroup]="supplierForm">
    <div class="form-field">
        <label for="supplier"> Supplier </label>
        <input type="text" class="form-control" placeholder="Insert company name" id="supplier" formControlName="name">
    </div>
    <div class="form-field">
        <label for="location"> Location </label>
        <input type="text" class="form-control" placeholder="Insert company address" id="location" formControlName="location">
    </div>
    <div class="form-field">
        <label for=""> Supplier Email Address </label>
        <input type="email" class="form-control" placeholder="Ex: company.address@email.com" formControlName="emailAddress">
    </div>
    <div class="form-field">
        <label for=""> Supplier Mobile Number </label>
        <input type="tel" class="form-control" placeholder="Ex: 09*********" formControlName="contactNumber">
    </div>
    <div class="contact-person" formGroupName="contactPersonDTO">
        <div class="form-field">
            <label for=""> Contact Person </label>
            <input type="text" class="form-control" placeholder="Ex: Juan Dela Cruz" formControlName="name">
        </div>
        <div class="form-field">
            <label for=""> Contact Person Mobile Number </label>
            <input type="tel" class="form-control" id="contact" placeholder="Ex: 09*********" formControlName="phoneNumber">
        </div>
    </div>
    <div class="buttons">
        <button type="submit" class="save-btn" (click)="saveSupplier()"> Save </button>
        <button type="button" class="go-back-btn" (click)="supplierForm.reset(); booleanEvent.emit(true);"> Go Back </button>
    </div>
</form>

