<p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
    <p-step-list>
        <p-step [value]="1"> Step 1 </p-step>
        <p-step [value]="2"> Step 2 </p-step>
        <p-step [value]="3"> Done </p-step>
    </p-step-list>
    <p-step-panels>
        <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
                <form action="" [formGroup]="emailValidatorForm">
                    <div class="flex flex-col">
                        <label for="email"> Email: </label>
                        <span class="flex flex-row w-full justify-between">
                            <input #email
                                   pInputText
                                   class="w-3/4"
                                   id="email"
                                   formControlName="email"
                                   aria-describedby="email-help"
                                   autocomplete="off">
                            <p-button label="Check" (onClick)="checkIfExisting()"/>
                        </span>
                        @if (isExisting) {
                            <small class="text-[#28a745]" id="email-help"> Email is available. </small>
                        }
                    </div>
                    <div class="flex pt-8 justify-end">
                        <p-button label="Next"
                                  severity="secondary"
                                  icon="pi pi-arrow-right"
                                  iconPos="right"
                                  [disabled]="!isExisting"
                                  (onClick)="activateCallback(2)"/>
                    </div>
                </form>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
                <form action="" [formGroup]="passMatcherForm">
                    <div class="flex flex-col w-full">
                        <label for="password"> Insert new password: </label>
                        <p-password class="w-full"
                                    id="password"
                                    formControlName="password"
                                    [fluid]="true"
                                    [toggleMask]="true"
                                    autocomplete="off"
                                    [class.ng-dirty]="passMatcherForm.hasError('passwordMismatch')"
                                    [class.ng-invalid]="passMatcherForm.hasError('passwordMismatch')">
                            <ng-template #footer>
                                <p-divider />
                                <ul class="pl-2 ml-2 my-0 leading-normal">
                                    <li> At least one lowercase </li>
                                    <li> At least one uppercase </li>
                                    <li> At least one numeric </li>
                                    <li> Minimum of 8 characters </li>
                                </ul>
                            </ng-template>
                        </p-password>
                    </div>
                    <div class="flex flex-col w-full">
                        <label for="confirm"> Confirm new password: </label>
                        <p-password class="w-full"
                                    id="confirm"
                                    formControlName="confirmPassword"
                                    [fluid]="true"
                                    [toggleMask]="true"
                                    [feedback]="false"
                                    autocomplete="off"
                                    [class.ng-dirty]="passMatcherForm.hasError('passwordMismatch')"
                                    [class.ng-invalid]="passMatcherForm.hasError('passwordMismatch')"/>
                    </div>
                    <small style="color: red;" *ngIf="(!passwordModel.passwordsMatch() && passwordModel.confirmPassword()) || passMatcherForm.hasError('passwordMismatch')"> Passwords does not match. Please try again. </small>
                    <div class="flex pt-8 justify-between">
                        <p-button label="Back"
                                  severity="secondary"
                                  icon="pi pi-arrow-left"
                                  (onClick)="activateCallback(1)"/>
                        <p-button label="Next"
                                  severity="secondary"
                                  icon="pi pi-arrow-right"
                                  [disabled]="(!passMatcherForm.dirty && passMatcherForm.invalid) || !passwordValidator()"
                                  iconPos="right"
                                  (onClick)="activateCallback(3); changePassword()"/>
                    </div>
                </form>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
                <div class="text-center"> Change password successfully. Closing in {{ countdown }}s </div>
            </ng-template>
        </p-step-panel>
    </p-step-panels>
</p-stepper>

