<mat-stepper linear #recoverStepper>
    <mat-step [stepControl]="emailValidatorForm" errorMessage="This field is required">
        <form action="" [formGroup]="emailValidatorForm">
            <ng-template matStepLabel> Step 1 </ng-template>
            <div class="form-field">
                <label for="recover-email"> Email: </label>
                <div class="input-field">
                    <input type="text" class="form-control" id="recover-email" formControlName="email" #recoverEmail>
                    <button type="button" class="check-btn" (click)="checkIfExisting()"> Check </button>
                </div>
            </div>
            <p class="success" *ngIf="isExisting"> Email is available. </p>
            <div class="button-field">
                <div></div>
                <button type="button" class="step-btn" matStepperNext [disabled]="!isExisting">
                    <p class="step-label"> Next </p>
                    <span class="material-symbols-rounded"> arrow_forward </span>
                </button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="passwordMatcher" errorMessage="This field is required">
        <form action="" [formGroup]="passwordMatcher">
            <ng-template matStepLabel> Step 2 </ng-template>
            <div class="form-field">
                <label for="recover-password"> New password </label>
                <input type="password" class="form-control" id="recover-password" formControlName="password">
            </div>
            <div class="form-field">
                <label for="recover-confirm-password"> Confirm new password </label>
                <input type="password" class="form-control" id="recover-confirm-password" formControlName="confirmPassword">
            </div>
            <div class="button-field">
              <button type="button" class="step-btn" matStepperPrevious>
                  <span class="material-symbols-rounded"> arrow_back </span>
                  <p class="step-label"> Previous </p>
              </button>
              <button type="button" class="step-btn" matStepperNext [disabled]="(!passwordMatcher.dirty && passwordMatcher.invalid) || !passwordValidator()">
                  <p class="step-label"> Next </p>
                  <span class="material-symbols-rounded"> arrow_forward </span>
              </button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel> Done </ng-template>
        <form action="">
          <div class="notification">
              <span class="material-symbols-rounded change-icon"> notifications </span>
              <p class="step-label"> Notice </p>
          </div>
          <p class="content"> Change password successfully. </p>
          <div class="button-field">
              <button type="button" class="step-btn" matStepperPrevious>
                  <span class="material-symbols-rounded"> arrow_back </span>
                  <p class="step-label"> Previous </p>
              </button>
              <button type="button" class="step-btn" (click)="changePassword()">
                  <p class="step-label"> Done </p>
              </button>
          </div>
        </form>
    </mat-step>
</mat-stepper>
