<form action="" class="flex flex-col gap-3" [formGroup]="signupForm">
    <span class="flex flex-row gap-2">
        <div class="flex flex-col w-full">
            <label for="firstname"> Firstname </label>
            <input class="w-full"
                   id="firstname"
                   pInputText
                   formControlName="firstName"
                   autocomplete="off"
                   [pAutoFocus]="true">
        </div>
        <div class="flex flex-col w-full">
            <label for="middlename"> Middlename </label>
            <input class="w-full"
                   id="middlename"
                   pInputText
                   formControlName="middleName"
                   autocomplete="off">
        </div>
        <div class="flex flex-col w-full">
            <label for="lastname"> Lastname </label>
            <input class="w-full"
                   id="lastname"
                   pInputText
                   formControlName="lastName"
                   autocomplete="off">
        </div>
    </span>
    <span class="flex flex-row gap-2">
        <div class="flex flex-col w-3/4">
            <label for="position"> Position </label>
            <p-select class="w-full"
                      inputId="position"
                      [options]="positions"
                      optionLabel="name"
                      optionValue="id"
                      placeholder="Select position"
                      formControlName="positionId"/>
        </div>
        <div class="flex flex-col w-1/4">
            <label for="rank"> Rank </label>
            <input class="w-full"
                   id="rank"
                   pInputText
                   pKeyFilter="int"
                   formControlName="positionRanking"
                   autocomplete="off">
        </div>
    </span>
    <div class="flex flex-col">
        <label for="email"> Email </label>
        <input id="email"
               pInputText
               formControlName="email"
               [class.ng-invalid]="emailControl?.invalid && emailControl?.touched"
               [class.ng-dirty]="emailControl?.invalid && emailControl?.touched"
               autocomplete="off">
    </div>
    <span class="flex flex-row gap-2 justify-between">
        <div class="flex flex-col w-full">
            <label for="password"> Password </label>
            <p-password class="w-full"
                        id="password"
                        [fluid]="true"
                        [toggleMask]="true"
                        autocomplete="off"
                        formControlName="password"
                        [class.ng-invalid]="signupForm.hasError('passwordMismatch')"
                        [class.ng-dirty]="signupForm.hasError('passwordMismatch')">
                <ng-template #header>
                    <div class="font-semibold text-xm mb-4"> Pick a password </div>
                </ng-template>
                <ng-template #footer>
                    <p-divider />
                    <ul class="pl-2 ml-2 my-0 leading-normal">
                        <li> At least one lowercase </li>
                        <li> At least one uppercase </li>
                        <li> At least one numeric </li>
                        <li> Minimum 8 characters </li>
                    </ul>
                </ng-template>
            </p-password>
        </div>
        <div class="flex flex-col w-full">
            <label for="confirm"> Confirm Password </label>
            <p-password class="w-full"
                        id="confirm"
                        [fluid]="true"
                        [toggleMask]="true"
                        [feedback]="false"
                        autocomplete="off"
                        formControlName="confirmPassword"
                        [class.ng-invalid]="signupForm.hasError('passwordMismatch') && signupForm.touched"
                        [class.ng-dirty]="signupForm.hasError('passwordMismatch') && signupForm.touched"/>
        </div>
    </span>
    <span class="w-full mt-[-5px] flex flex-col">
        <small style="color: red;" *ngIf="(!passwordsMatch() && confirmPassword()) || this.signupForm.hasError('passwordsMismatch')"> Passwords does not match. Please try again. </small>
        <small style="color: red;" *ngIf="emailControl?.invalid && emailControl?.touched && emailControl?.value"> Invalid input. Please try a valid email. </small>
        <small style="color: #22c55e;" *ngIf="isRegistered"> Redirecting to login in {{ timer }}s </small>
    </span>
    <span class="flex flex-row justify-between mt-7">
        <button class="back_btn py-4 px-8 rounded-md font-bold"
                type="button"
                (click)="isSigningUp()"> Back to login page </button>
        <button class="register_btn py-4 px-11 rounded-md font-bold"
                type="submit"
                [disabled]="!signupForm.valid"
                (click)="validateEmail()"> Create account </button>
    </span>
</form>
