form {
    width: 100%;
}

.location {
    width: 200px;
}

.input-field {
    align-items: center;
    gap: 5px;
}

input[type='number'] {
    width: 75px;
}

.radio-container {
    gap: 20px;
}

p {
    margin-bottom: 2px;
}

.button-container {
    display: grid;
    place-items: center;
    margin-top: 20px;
}

button {
    padding: 10px 60px;
    font-weight: 700;

}

form,
.form-field,
.specifications {
    flex-direction: column;
}

.information,
.form-section,
.field {
    justify-content: space-between;
}

form,
.specifications,
.information {
    gap: 10px;
}

select {
    padding: 5px 1px;
}

input[type='text'],
input[type='number'] {
    padding: 5px;
}

form,
.form-section,
.form-field,
.input-field,
.radio-container,
.information,
.specifications,
.field {
    display: flex;
}
