section {
    padding: 5px;
    gap: 15px;
    width: 100%;
}

.add-btn {
    display: grid;
    width: 50px;
}

span {
    place-self: center;
}

.form-field {
    align-items: center;
    gap: 15px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.brand-form {
    margin-top: 12px;
    gap: 10px;
}

.input-field {
    flex-direction: row;
    gap: 10px;
    align-items: center;
}


input[type='number'] { width: 100px; }

input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

select { width: 200px; }

input[type='number'],
select { padding: 5px 0; }

section,
.brand-form,
.input-container { flex-direction: column; }

section,
.form-field,
.brand-form,
.input-field,
.input-container {
    display: flex;
}
