<section [ngClass]="{ 'disabled': !enabled }">
    <div class="form-field" *ngFor="let peripheral of fetchedPeripherals">
        <input type="checkbox"
               id="keyboard"
               [checked]="peripheral.checked"
               (change)="onCheckboxChange(peripheral, $event)">
        <label for="keyboard"> with {{ peripheral.name }} </label>
    </div>
    <div class="form-control">
        <div class="form-field">
            <input type="checkbox" id="ups" (change)="changeUPS($event)">
            <label for="ups"> with UPS </label>
        </div>
        <div class="brand-form" [ngClass]="{ 'disabled': !enabledUPS }">
            <div class="input-container">
                <label for="ups-brand"> Brand: </label>
                <div class="input-field">
                    <select title="" id="ups-brand" (change)="getUPSBrandValue()">
                        <option [value]="null" selected disabled> Select brand </option>
                        <option [value]="brand.id" *ngFor="let brand of fetchedUPSBrand"> {{ brand.brand }} </option>
                    </select>
                    <button type="button" class="add-btn">
                        <span class="material-symbols-rounded"> add </span>
                    </button>
                </div>
            </div>
            <div class="input-container">
                <label for="kva"> Voltage: </label>
                <div class="input-field">
                    <input type="number" min="0" id="kva">
                    <p> kVA </p>
                </div>
            </div>
        </div>
    </div>
</section>
