section {
    padding: 5px;
    gap: 15px;
    width: 100%;
}

.form-field {
    align-items: center;
    gap: 15px;
}

.brand-form {
    margin-top: 10px;
    gap: 5px;
}

.input-field {
    flex-direction: row;
    justify-content: space-between;
}

input[type='number'] { width: 100px; }

input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

select { width: 150px; }

.form-input { padding: 5px; }

blockquote {
    align-items: center;
    gap: 5px;
}

section,
.brand-form { flex-direction: column; }

section,
.form-field,
.brand-form,
.input-field,
blockquote {
    display: flex;
}
