<section>
    <div class="form-field" *ngFor="let peripheral of fetchedData">
        <input type="checkbox" id="keyboard">
        <label for="keyboard"> with {{ peripheral.name }} </label>
    </div>
    <div class="form-control">
        <div class="form-field">
            <input type="checkbox" id="ups">
            <label for="ups"> with UPS </label>
        </div>
        <div class="brand-form">
            <label for="ups-brand"> Brand: </label>
            <div class="input-field">
                <select title="" id="ups-brand">
                    <option value="" selected disabled> Select brand </option>
                    <option [value]="brand.id" *ngFor="let brand of fetchedUPSBrand"> {{ brand.brand }} </option>
                </select>
                <blockquote>
                    <input type="number" id="volts">
                    <label for="volts"> kVA </label>
                </blockquote>
            </div>
        </div>
    </div>
</section>
