<form action="" [formGroup]="computerForm">
    <div class="card gray-border device-info">
        <h1> Device Information </h1>
        <div class="details">
            <div class="device-tag">
                <blockquote>
                    <p> Batch Number: </p>
                    <p class="output-label"> {{ batchNumber }} </p>
                </blockquote>
                <blockquote>
                    <p> Device: </p>
                    <p class="output-label"> {{ device.name }} </p>
                </blockquote>
                <blockquote>
                    <p> Device Count: </p>
                    <p class="output-label"> {{ deviceCount }} </p>
                </blockquote>
            </div>
            <button class="save-dev-btn" type="submit" (click)="postCompSpecs()"> SAVE </button>
        </div>
        <div class="classification">
            <div class="destination">
                <div class="form-container">
                    <label for="division" class="label"> Division </label>
                    <select title="division" class="form-control" id="division" (change)="getDivisionValue()" formControlName="divisionId">
                        <option [value]="null" selected disabled> Select division </option>
                        <option [value]="division.id" *ngFor="let division of fetchedDivision"> {{ division.name }} </option>
                    </select>
                </div>
                <div class="form-container">
                    <label for="section" class="label"> Section </label>
                    <select title="section" class="form-control" id="section" (change)="getSectionValue()" formControlName="sectionId">
                        <option [value]="null" selected disabled> Select section </option>
                        <option [value]="section.id" *ngFor="let section of fetchedSection"> {{ section.name }} </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card gray-border specs">
        <h1> Specifications </h1>
        <div class="specs-container">
            <div class="form-container" formGroupName="cpuRequest">
                <p class="label"> Processor </p>
                <div class="input-field">
                    <div class="input-container">
                        <div class="labeled-field">
                            <select title="proc-brand" class="processors" id="proc-brand" (change)="getProcBrand()" *ngIf="!isProcBrandToggled" formControlName="cpuBrandId">
                                <option [value]="null" selected disabled> Select brand option </option>
                                <option [value]="procbrand.id" *ngFor="let procbrand of fetchedProcBrand"> {{ procbrand.brand }} </option>
                            </select>
                            <input type="text" class="processors input-form" *ngIf="isProcBrandToggled" placeholder="Input brand" (blur)="onProcBrandInput($event)">
                            <label for="proc-brand"> Brand </label>
                        </div>
                        <button class="add-btn" type="button" id="brand-field" (click)="toggleProcBrandField()">
                            <span class="material-symbols-rounded" [class.rotate]="isProcBrandAnimated"> add </span>
                        </button>
                    </div>
                    <div class="input-container">
                        <div class="labeled-field">
                            <select title="proc-series" class="processors" id="proc-series" (change)="getProcSeries()" *ngIf="!isProcSeriesToggled" formControlName="cpuBrandSeriesId">
                                <option [value]="null" selected disabled> Select series option </option>
                                <option [value]="procseries.id" *ngFor="let procseries of fetchedProcSeries"> {{ procseries.seriesName }} </option>
                            </select>
                            <input type="text" class="processors input-form" *ngIf="isProcSeriesToggled" placeholder="Input series" (blur)="onProcSeriesInput(procBrandId, $event)">
                            <label for="proc-series"> Series </label>
                        </div>
                        <button class="add-btn" type="button" id="series-field" (click)="toggleProcSeriesField()">
                            <span class="material-symbols-rounded" [class.rotate]="isProcSeriesAnimated"> add </span>
                        </button>
                    </div>
                    <div class="labeled-field">
                        <input type="text" id="proc-model" class="processors input-form" placeholder="Input model" (blur)="onProcModifierInput($event)" formControlName="cpuModifier">
                        <label for="proc-model"> Model </label>
                    </div>
                </div>
            </div>
            <div class="form-container" formGroupName="motherBoardRequest">
                <p class="label"> Motherboard </p>
                <div class="input-field">
                    <div class="input-container">
                        <div class="labeled-field">
                            <select title="proc-brand" class="processors" id="mobo-brand" (change)="getMoboBrand()" *ngIf="!isMoboBrandToggled" formControlName="motherBoardBrandId">
                                <option [value]="null" selected disabled> Select brand option </option>
                                <option [value]="mobobrand.id" *ngFor="let mobobrand of fetchedMoboBrand"> {{ mobobrand.brand }} </option>
                            </select>
                            <input type="text" class="processors input-form" *ngIf="isMoboBrandToggled" placeholder="Input brand" (blur)="onProcBrandInput($event)">
                            <label for="proc-brand"> Brand </label>
                        </div>
                        <button class="add-btn" type="button" id="brand-field" (click)="toggleMoboBrandField()">
                            <span class="material-symbols-rounded" [class.rotate]="isMoboBrandAnimated"> add </span>
                        </button>
                    </div>
                    <div class="labeled-field">
                        <input type="text" id="proc-model" class="processors input-form" placeholder="Input model" (blur)="onMoboModel($event)" formControlName="motherBoardModel">
                        <label for="proc-model"> Model </label>
                    </div>
                </div>
            </div>
            <div class="form-container" formGroupName="videoCardRequest">
                <p class="label"> Video Card </p>
                <div class="size-field">
                    <label for="gpu-size"> Size: </label>
                    <input type="number" class="input-form" id="gpu-size" list="gpu" min="0" (blur)="onGPUInput($event)" formControlName="capacityId">
                    <p> GB </p>
                </div>
            </div>
            <div class="form-container" id="ram">
                <p class="label"> RAM </p>
                <div class="size-field" id="ram-field">
                    <label for="ram-size"> Size: </label>
                    <input type="number" class="input-form" id="ram-size" list="ramsize" min="0" (blur)="onRAMInput($event)">
                    <p> GB </p>
                </div>
                <div class="size-field top-gap">
                    <p class="label"> Size: </p>
                    <button class="add-btn" type="button" id="add-ram" (click)="addRAM()">
                        <span class="material-symbols-rounded"> add </span>
                    </button>
                </div>
            </div>
            <div class="form-container" id="storage">
                <p class="label"> Storage </p>
                <div class="input-container" id="type-container">
                    <label class="type" for="type"> Type: </label>
                    <select title="storage-type" class="form-control" id="type">
                        <option value="" selected disabled> Select option </option>
                        <option value="HDD"> HDD </option>
                        <option value="SSD"> SSD </option>
                    </select>
                </div>
                <div class="size-field" id="size-container">
                    <label for="storage-size"> Size: </label>
                    <input type="number" class="input-form size-input" id="storage-size" list="storagesize" min="0" (blur)="onStorageInput($event)">
                    <p> GB </p>
                </div>
                <div class="size-field">
                    <p> Add storage? </p>
                    <button type="button" class="add-btn" (click)="addStorage()">
                        <span class="material-symbols-rounded"> add </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <datalist id="ramsize">
        <option *ngFor="let ram of fetchedRAM"> {{ ram.capacity }} </option>
    </datalist>
    <datalist id="storagesize">
        <option *ngFor="let storage of fetchedStorage"> {{ storage.capacity }} </option>
    </datalist>
    <datalist id="gpu">
        <option *ngFor="let gpu of fetchedGPU"> {{ gpu.capacity }} </option>
    </datalist>
</form>

