section {
    flex-direction: column;
    gap: 20px;
}

.form-field {
    flex-direction: column;
}

.label { margin-bottom: 5px; }

.input-field { gap: 20px; }

.add-btn {
    width: 50px;
    align-items: center;
    justify-content: center;
}

select { width: 100%; }

select,
.add-btn { height: 2rem; }

section,
.form-field,
.input-field,
.add-btn { display: flex; }
