<form action="" [formGroup]="routerForm">
    <div class="card gray-border device-info">
        <h1> Device Information </h1>
        <div class="details">
            <div class="device-tag">
                <blockquote>
                    <p> Batch Number: </p>
                    <p class="output-label"> {{ batchNumber }} </p>
                </blockquote>
                <blockquote>
                    <p> Device: </p>
                    <p class="output-label"> {{ device.name }} </p>
                </blockquote>
                <blockquote>
                    <p> Device Count: </p>
                    <p class="output-label"> {{ deviceCount }} </p>
                </blockquote>
            </div>
            <button class="save-dev-btn" type="submit" (click)="postRouterSpecs()"> SAVE </button>
        </div>
        <div class="classification">
            <div class="identification">
                <div class="brand-container">
                    <div class="form-container">
                        <label for="router-brand" class="label"> Brand Name </label>
                        <select title="aio-brand" id="router-brand" class="form-control" *ngIf="!isRouterBrandToggled" (change)="getRouterBrandValue()">
                            <option [value]="" selected disabled> Select router brand </option>
                            <option [value]="routebrand.id" *ngFor="let routebrand of fetchedRouterBrand"> {{ routebrand.brand }} </option>
                        </select>
                        <input type="text" class="form-control input-form" *ngIf="isRouterBrandToggled" placeholder="Input router brand" (blur)="onRouterBrandInput($event)">
                    </div>
                    <button class="add-btn" type="button" (click)="toggleRouterBrandField()">
                        <span class="material-symbols-rounded add-aio-brand" [class.rotate]="isRouterBrandAnimated"> add </span>
                    </button>
                </div>
                <div class="form-container">
                    <label for="model" class="label"> Model </label>
                    <input type="text" class="form-control" id="model" placeholder="Input router model" formControlName="model">
                </div>
            </div>
            <div class="destination">
                <div class="form-container">
                    <label for="division" class="label"> Division </label>
                    <select title="division" class="form-control" id="division" (change)="getDivisionValue()">
                        <option [value]="" selected disabled> Select division </option>
                        <option [value]="division.id" *ngFor="let division of fetchedDivision"> {{ division.name }} </option>
                    </select>
                </div>
                <div class="form-container">
                    <label for="section" class="label"> Section </label>
                    <select title="section" class="form-control" id="section" (change)="getSectionValue()">
                        <option [value]="" selected disabled> Select section </option>
                        <option [value]="section.id" *ngFor="let section of fetchedSection"> {{ section.name }} </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card gray-border specs">
        <h1> Specifications </h1>
        <div class="specs-container">
            <div class="form-container">
                <p class="label"> Network Speed </p>
                <div class="input-field">
                    <div class="size-field">
                        <input type="number" class="input-form" id="net-speed" min="0" list="netspeed" (blur)="onNetworkSpeedInput($event)">
                        <label for="net-speed"> mb/s </label>
                    </div>
                </div>
            </div>
            <div class="form-container">
                <p class="label"> Number of antennas </p>
                <div class="input-field">
                    <div class="size-field">
                        <input type="number" class="input-form" id="antennas" min="0" list="ants" (blur)="onAntennasInput($event)">
                        <label for="net-speed"> antenna/s </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <datalist id="netspeed">
        <option *ngFor="let speed of fetchedNetSpeed"> {{ speed.networkSpeedByMbps }} </option>
    </datalist>
    <datalist id="ants">
        <option *ngFor="let antennas of fetchedAntenna"> {{ antennas.numberOfAntenna }} </option>
    </datalist>
</form>
