<form action="" [formGroup]="scannerForm">
    <div class="card gray-border device-info">
        <h1> Device Information </h1>
        <div class="details">
            <div class="device-tag">
                <blockquote>
                    <p> Batch Number: </p>
                    <p class="output-label"> {{ batchNumber }} </p>
                </blockquote>
                <blockquote>
                    <p> Device: </p>
                    <p class="output-label"> {{ device.name }} </p>
                </blockquote>
                <blockquote>
                    <p> Device Count: </p>
                    <p class="output-label"> {{ deviceCount }} </p>
                </blockquote>
            </div>
            <button class="save-dev-btn" type="submit" (click)="postScannerSpecs()"> SAVE </button>
        </div>
        <div class="classification">
            <div class="identification">
                <div class="brand-container">
                    <div class="form-container">
                        <label for="scanner-brand" class="label"> Brand Name </label>
                        <select title="aio-brand" id="scanner-brand" class="form-control" *ngIf="!isScannerBrandToggled" (change)="getScannerBrandValue()" formControlName="brandId">
                            <option [value]="null" selected disabled> Select scanner brand </option>
                            <option [value]="scanbrand.id" *ngFor="let scanbrand of fetchedScannerBrand"> {{ scanbrand.brand }} </option>
                        </select>
                        <input type="text" class="form-control input-form" *ngIf="isScannerBrandToggled" placeholder="Input scanner brand">
                    </div>
                    <button class="add-btn" type="button" (click)="toggleScannerBrandField()">
                        <span class="material-symbols-rounded add-aio-brand" [class.rotate]="isScannerBrandAnimated"> add </span>
                    </button>
                </div>
                <div class="form-container">
                    <label for="model" class="label"> Model </label>
                    <input type="text" class="form-control" id="model" placeholder="Input scanner model" formControlName="model">
                </div>
            </div>
            <div class="destination">
                <div class="form-container">
                    <label for="division" class="label"> Division </label>
                    <select title="division" class="form-control" id="division" (change)="getDivisionValue()" formControlName="divisionId">
                        <option [value]="null" selected disabled> Select division </option>
                        <option [value]="division.id" *ngFor="let division of fetchedDivision"> {{ division.name }} </option>
                    </select>
                </div>
                <div class="form-container">
                    <label for="section" class="label"> Section </label>
                    <select title="section" class="form-control" id="section" (change)="getSectionValue()" formControlName="sectionId">
                        <option [value]="null" selected disabled> Select section </option>
                        <option [value]="section.id" *ngFor="let section of fetchedSection"> {{ section.name }} </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card gray-border specs" [ngClass]="{ 'disable-specs': fromComputerInventory }">
        <h1> Specifications </h1>
        <div class="specs-container">
            <div class="form-container">
                <label class="label" for="scanner-type"> Scanner Type </label>
                <div class="input-field">
                    <select title="proc-brand" class="form-control" id="scanner-type" (change)="getScannerTypeValue()" formControlName="scannerTypeId">
                        <option [value]="null" selected disabled> Select option </option>
                        <option [value]="type.id" *ngFor="let type of fetchedType"> {{ type.scannerType }} </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>


