form {
    flex-direction: column;
    gap: 15px;
}

.supplier-field { position: relative; }

.form-container {
    flex-direction: column;
    width: 100%;
}

.upload-btn { border-radius: 2px; }

select { padding: 3px; }

.date-field { gap: 20px; }

.radio-field { position: relative; }

.radio-container {
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: center;
    gap: 10px;
}

footer {
    display: grid;
    margin-top: 25px;
    width: 100%;
}

.submit-batch-btn {
    width: 200px;
    place-self: center;
    height: 2.15rem;
}

.submit-batch-btn:disabled {
    border: 1px solid #808080;
    background-color: transparent;
    color: #d3d3d3;
    cursor: default;
}

.add-btn,
.upload-btn {
    width: 2.15rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

select,
#purchase-req { width: 300px; }

input[type='text'],
input[type='date'],
input[type='number'] { padding: 0 5px; }

.date-tested,
.radio-container { width: 169px; }

input,
select,
.add-btn,
.upload-btn,
.radio-container { height: 2.15rem; }

form,
.form-container,
.date-field,
.radio-field,
.radio-container { display: flex; }
