<form action="" [formGroup]="batchForm">
    <div class="supplier-field" formGroupName="purchaseRequestDTO">
        <div class="form-container">
            <label for="purchase-req"> PR Number: </label>
            <input type="number" class="form-control" min="0" id="purchase-req" placeholder="Enter PR Number" formControlName="number">
        </div>
        <button class="upload-btn gray-border" type="button" (click)="fileUpload.click()" *ngIf="!selectedFile">
            <span class="material-symbols-rounded"> upload </span>
        </button>
        <button class="cancel-btn gray-border" type="button" (click)="cancelUpload()" *ngIf="selectedFile">
            <span class="material-symbols-rounded"> block </span>
        </button>
        <input #fileUpload type="file" id="file-upload" (change)="handFileInput($event)" formArrayName="file" hidden>
    </div>
    <p class="file-name" *ngIf="fileUploaded"> File Name: {{ fileUploaded.name }} </p>
    <div class="supplier-field">
        <div class="form-container">
            <label for="supplier"> Supplier </label>
            <select title="supplier" id="supplier" class="form-control" (change)="getSupplierValue()" formControlName="supplierId">
                <option [value]="null" selected disabled> Select supplier </option>
                <option [value]="supplier.id" *ngFor="let supplier of suppliers"> {{ supplier.name }} </option>
            </select>
        </div>
        <button type="button" class="add-btn" (click)="batchForm.reset(); booleanEvent.emit(true);">
            <span class="material-symbols-rounded"> add </span>
        </button>
    </div>
    <div class="form-field">
        <div class="form-container">
            <label for="service-center"> Service Center </label>
            <input type="text" class="form-control" id="service-center" placeholder="Enter service center" formControlName="serviceCenter">
        </div>
    </div>
    <div class="date-field">
        <div class="form-container">
            <label for="date-delivered"> Date Delivered </label>
            <input type="date" class="form-control" id="date-delivered" formControlName="dateDelivered">
        </div>
        <div class="form-container">
            <label for="valid-until"> Valid Until </label>
            <input type="date" class="form-control" id="valid-until" formControlName="validUntil">
        </div>
    </div>
    <div class="radio-field">
        <div class="form-container radio-input">
            <label for="date-tested"> Date Tested </label>
            <input type="date" class="form-control date-tested" id="date-tested" formControlName="dateTested">
        </div>
        <div class="radio-container">
            <input type="checkbox" id="not-tested" formControlName="isTested">
            <label for="not-tested" class="not-tested"> Not Tested Yet </label>
        </div>
    </div>
    <footer>
        <button type="submit" class="submit-batch-btn" [disabled]="batchForm.invalid" (click)="addBatch()"> Create batch </button>
    </footer>
</form>
