<form action="" [formGroup]="signupForm">
    <header>
        <h2> Create an account </h2>
        <button type="button" class="back-btn" id="back-to-login-btn" (click)="booleanEvent.emit(true)">
            <i class="material-symbols-rounded"> arrow_back_ios </i>
            <p class="back-btn-label"> Back </p>
        </button>
    </header>
    <section class="input-field">
        <div class="input-container">
            <input type="text" class="form-control br gray-border" placeholder=" " id="first-name" formControlName="firstName">
            <label for="first-name" class="form-label"> First Name </label>
        </div>
        <div class="input-container">
            <input type="text" class="form-control br gray-border" placeholder=" " id="middle-name" formControlName="middleName">
            <label for="middle-name" class="form-label"> Middle Name </label>
        </div>
        <div class="input-container">
            <input type="text" class="form-control br gray-border" placeholder=" " id="last-name" formControlName="lastName">
            <label for="last-name" class="form-label"> Last Name </label>
        </div>
        <span class="form-field">
            <div class="container">
                <label for="position" class="field-label"> Position </label>
                <select name="position" id="position" class="br gray-border" formControlName="positionId">
                    <option value="" selected disabled> Select your position </option>
                    <option [value]="positions.id" *ngFor="let positions of positions"> {{ positions.name }} </option>
                </select>
            </div>
            <div class="container">
                <label for="rank" class="field-label"> Rank </label>
                <input type="number" class="br gray-border" id="rank" min="0" max="5" formControlName="positionRanking">
            </div>
        </span>
        <div class="input-container">
            <input type="email" class="form-control br gray-border" placeholder=" " id="email-add" formControlName="email" (blur)="emailControl?.markAllAsTouched()" [ngClass]="{ 'error-border': emailControl?.invalid && emailControl?.touched && emailControl?.value }">
            <label for="email-add" class="form-label"> Email Address </label>
        </div>
        <div class="input-container">
            <input type="password" class="form-control br gray-border" placeholder=" " id="password" autocomplete="off" formControlName="password" [ngClass]="{ 'error-border': !passwordMatchValidator() && (signupForm.get('password')?.value && signupForm.get('confirmPassword')?.value) }">
            <label for="password" class="form-label"> Password </label>
        </div>
        <div class="input-container">
            <input type="password" class="form-control br gray-border" placeholder=" " id="confirm-password" autocomplete="off" formControlName="confirmPassword" [ngClass]="{ 'error-border': !passwordMatchValidator() && (signupForm.get('password')?.value && signupForm.get('confirmPassword')?.value) }">
            <label for="confirm-password" class="form-label"> Confirm password </label>
        </div>
        <button type="submit" class="submit-btn" id="open-signup-btn" [disabled]="signupForm.invalid || !passwordMatchValidator()" (click)="signup()"> Submit </button>
        <p class="warning" *ngIf="emailControl?.invalid && emailControl?.touched && emailControl?.value"> Invalid input. Please try a valid email. </p>
        <p class="warning" *ngIf="!passwordMatchValidator() && (signupForm.get('password')?.value && signupForm.get('confirmPassword')?.value)"> Your password doesn't match. Please try again </p>
        <p class="success" *ngIf="successSignup"> Registration successful. Redirecting to login. </p>
    </section>
</form>
