<form action="" [formGroup]="signupForm">
    <header>
        <h2> Create an account </h2>
        <button type="button" class="back-btn" id="back-to-login-btn" (click)="returnToggle()">
            <i class="material-symbols-rounded"> arrow_back_ios </i>
            <p class="back-btn-label"> Back </p>
        </button>
    </header>
    <section class="input-field">
        <div class="input-container">
            <input type="text" class="form-control br gray-border" placeholder=" " id="first-name" formControlName="firstName">
            <label for="first-name" class="form-label"> First Name </label>
        </div>
        <div class="input-container">
            <input type="text" class="form-control br gray-border" placeholder=" " id="middle-name" formControlName="middleName">
            <label for="middle-name" class="form-label"> Middle Name </label>
        </div>
        <div class="input-container">
            <input type="text" class="form-control br gray-border" placeholder=" " id="last-name" formControlName="lastName">
            <label for="last-name" class="form-label"> Last Name </label>
        </div>
        <span class="form-field">
            <div class="container">
                <label for="position" class="field-label"> Position </label>
                <select name="position" id="position" class="input-control br gray-border" formControlName="positionId">
                    <option value="" selected disabled> Select your position </option>
                    <option value=""></option>
                </select>
            </div>
            <div class="container">
                <label for="rank" class="field-label"> Rank </label>
                <input type="number" class="input-control br gray-border" id="rank" min="0" max="5" formControlName="positionRanking">
            </div>
        </span>
        <div class="input-container">
            <input type="email" class="form-control br gray-border" placeholder=" " id="email-add" formControlName="email">
            <label for="email-add" class="form-label"> Email Address </label>
        </div>
        <div class="input-container">
            <input type="password" class="form-control br gray-border" placeholder=" " id="password" autocomplete="off" formControlName="password">
            <label for="password" class="form-label"> Password </label>
        </div>
        <div class="input-container">
            <input type="password" class="form-control br gray-border" placeholder=" " id="confirm-password" autocomplete="off" formControlName="confirmPassword">
            <label for="confirm-password" class="form-label"> Confirm password </label>
        </div>
        <button type="submit" class="submit-btn" id="open-signup-btn" [disabled]="signupForm.invalid || !passwordMatchValidator()" (click)="signup()"> Submit </button>
    </section>
</form>

<div class="modal otp-signup-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3> OTP Verification </h3>
            <button type="button" class="close-btn" id="close-signup-btn">
                <span class="material-symbols-rounded"> close </span>
            </button>
        </div>
        <div class="modal-body">
            <form action="" class="otp-form">
                <input type="text" class="otp-control" maxlength="1" placeholder="•" pattern="\d+" id="first-digit">
                <input type="text" class="otp-control" maxlength="1" placeholder="•" pattern="\d+" id="second-digit">
                <input type="text" class="otp-control" maxlength="1" placeholder="•" pattern="\d+" id="third-digit">
                <input type="text" class="otp-control" maxlength="1" placeholder="•" pattern="\d+" id="fourth-digit">
            </form>
            <button type="submit" class="otp-button" [disabled]="otpForm.invalid"> Send OTP </button>
        </div>
        <p class="footer-label gray-text"> We sent you an email. Please check to see your OTP. </p>
    </div>
</div>
