<aside class="page">
    <nav class="navigation">
        <header class="page-header">
            <a class="page-title"> {{ fromComputerInventory ? 'Computer Inventory' : 'Batch Delivery' }} </a>
            <span class="material-symbols-rounded divider"> arrow_forward_ios </span>
            <ng-container *ngIf="!fromComputerInventory">
                <a id="add-batch" class="page-title"> {{ isAdding ? 'Add' : 'Edit' }} Batch </a>
                <span class="material-symbols-rounded divider"> arrow_forward_ios </span>
            </ng-container>
            <a class="page-title current"> {{ deviceRequest || fromComputerInventory ? 'Edit' : 'Add' }} {{ selected }} </a>
        </header>
        <button type="button" class="back-btn" (click)="backButton()">
            <span class="material-symbols-rounded"> reply </span>
            <p class="button-label"> Back </p>
        </button>
    </nav>
    <router-outlet />
    <footer class="toggler-container">
        <div class="card gray-border">
            <div class="card-header">
                <h1> Peripherals </h1>
                <label class="switch">
                    <input type="checkbox"
                           id="toggler-peripherals"
                           checked
                           (change)="onTogglePeripherals()">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="card-body">
                <app-peripherals [isEnabled]="isPeripheralToggled"
                                 (peripheralsStateChanged)="onPeripheralsChanges($event)"
                                 (upsBrandId)="onUPSBrandIdSubmit($event)" />
            </div>
        </div>
        <div class="card gray-border">
            <div class="card-header">
                <h1> Connections </h1>
                <label class="switch">
                    <input type="checkbox"
                           id="toggler-connections"
                           checked
                           (change)="onToggleConnections()">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="card-body">
                <app-connections [isEnabled]="isConnectionToggled"
                                 (connectionsStateChanged)="onConnectionChanges($event)" />
            </div>
        </div>
        <div class="card gray-border">
          <div class="card-header">
              <h1> Softwares </h1>
              <label class="switch">
                  <input type="checkbox"
                         id="toggler-softwares"
                         checked
                         (change)="onToggleSoftwares()">
                  <span class="slider round"></span>
              </label>
          </div>
          <div class="card-body">
              <app-softwares [isEnabled]="isSoftwareToggled"
                             (softwareStateChanged)="onSoftwareChanges($event)" />
          </div>
      </div>
    </footer>
</aside>
