<aside class="page">
    <header class="page-header">
        <a href="" class="page-title"> Computer Inventory </a>
    </header>
    <section class="gray-border">
        <div class="search-container">
            <input class="gray-border br" type="search" id="search-bar" placeholder="Search">
            <button class="search-btn gray-border br bold" type="submit"> Search </button>
            <button class="filter-btn br gray-border" type="button" (click)="filterModal.style.display = 'block'">
                <span class="material-symbols-rounded"> tune </span>
                <p> Filter </p>
            </button>
        </div>
        <div class="button-container">
            <button class="primary br gray-border" type="button" (click)="addDevModal.style.display = 'block'">
                <span class="material-symbols-rounded"> add </span>
                <p> Add </p>
            </button>
            <button class="primary br gray-border" type="button">
                <span class="material-symbols-rounded"> delete </span>
                <p> Delete </p>
            </button>
            <button class="secondary br gray-border" type="button">
                <span class="material-symbols-rounded"> picture_as_pdf </span>
                <p> Generate PDF </p>
            </button>
        </div>
    </section>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="tag">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Tag </th>
            <td mat-cell *matCellDef="let row"> {{ row.tag }} </td>
        </ng-container>
        <ng-container matColumnDef="division">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
            <td mat-cell *matCellDef="let row"> {{ row.division }} </td>
        </ng-container>
        <ng-container matColumnDef="section">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Section </th>
            <td mat-cell *matCellDef="let row"> {{ row.section }} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row"> {{ row.status }} </td>
        </ng-container>
        <ng-container matColumnDef="settings">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row">
                <button type="button" class="batch-settings-btn" [matMenuTriggerFor]="menu">
                    <span class="material-symbols-rounded"> more_vert </span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onClickEdit(row)"> Edit </button>
                    <button mat-menu-item> Delete </button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4"> No data matching the filter. </td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" aria-label="Select page of devices"></mat-paginator>
  </aside>

  <div class="modal" #addDevModal>
    <div class="modal-content">
        <div class="modal-header">
            <h3> Add a device </h3>
            <button type="button" class="close-btn" (click)="addDevModal.style.display = 'none'">
                <span class="material-symbols-rounded"> close </span>
            </button>
        </div>
        <div class="modal-body">
            <form class="device-form" action="">
                <div class="form-field">
                    <label for="device"> Device </label>
                    <select name="device" class="form-control" id="device">
                        <option value="" selected disabled> Select a device </option>
                        <option *ngFor="let device of devices" [value]="device.name"> {{device.name}} </option>
                    </select>
                </div>
                <div class="form-field">
                    <label for="count"> Device count </label>
                    <input type="number"
                          class="form-control"
                          id="count"
                          min="0">
                </div>
                <div class="holder">
                    <button type="button"
                            class="add-dev-btn"> Add </button>
                </div>
            </form>
        </div>
    </div>
  </div>

  <div class="modal" #filterModal>
    <div class="modal-content">
        <div class="modal-header">
            <h3> Filter </h3>
            <button class="close-btn" type="button" (click)="filterModal.style.display = 'none'">
                <span class="material-symbols-rounded"> close </span>
            </button>
        </div>
        <div class="modal-body">
            <form action="">

            </form>
        </div>
    </div>
</div>
