<aside class="page">
    <header class="page-header">
        <a href="" class="page-title"> Computer Inventory </a>
    </header>
    <section class="gray-border">
        <div class="search-container">
            <input class="gray-border br" type="search" id="search-bar" placeholder="Search" (keyup)="applyFilter($event)">
            <button class="search-btn gray-border br bold" type="submit"> Search </button>
            <button class="filter-btn br gray-border" type="button" (click)="filterModal.style.display = 'block'">
                <span class="material-symbols-rounded"> tune </span>
                <p> Filter </p>
            </button>
        </div>
        <div class="button-container">
            <button class="secondary br gray-border" type="button" (click)="addDevModal.style.display = 'block'">
                <span class="material-symbols-rounded"> add </span>
                <p> Add </p>
            </button>
            <button class="secondary br gray-border" type="button" (click)="generatePDF()">
                <span class="material-symbols-rounded"> picture_as_pdf </span>
                <p> Generate PDF </p>
            </button>
        </div>
    </section>
    <div class="legend">
        <p> Status Legend: </p>
        <blockquote class="">
            <span class="circle active"></span>
            <p> Active </p>
        </blockquote>
        <blockquote class="">
            <span class="circle condemn"></span>
            <p> Condemned </p>
        </blockquote>
    </div>
    <table mat-table id="device-table" [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="tag">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Tag </th>
            <td mat-cell *matCellDef="let row"> <b> {{ row.tag }} </b> </td>
        </ng-container>
        <ng-container matColumnDef="division">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Division </th>
            <td mat-cell *matCellDef="let row"> {{ row.division }} </td>
        </ng-container>
        <ng-container matColumnDef="section">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Section </th>
            <td mat-cell *matCellDef="let row"> {{ row.section }} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row">
                @if (row.status) {
                    <div class="circle condemn"></div>
                } @else {
                    <div class="circle active"></div>
                }
            </td>
        </ng-container>
        <ng-container matColumnDef="settings">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row">
                <button type="button" class="batch-settings-btn" [matMenuTriggerFor]="menu" [disabled]="row.status">
                    <span class="material-symbols-rounded"> more_vert </span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item
                            (click)="onClickEdit(row)"> Edit Details </button>
                    <button mat-menu-item
                            (click)="onClickChange(row)"
                            [disabled]="row.tag.includes('PJG-TAB') || row.tag.includes('PJG-RT') || row.tag.includes('PJG-SCAN')"> Change Part </button>
                    <button mat-menu-item
                            (click)="onClickUpgrade(row)"
                            [disabled]="row.tag.includes('PJG-PRNT') || row.tag.includes('PJG-TAB') || row.tag.includes('PJG-RT') || row.tag.includes('PJG-SCAN')"> Upgrade Part </button>
                    <button mat-menu-item
                            (click)="onClickCondemn(row)"> Condemn Unit </button>
                </mat-menu>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4"> No data matching the filter. </td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[8, 15]" aria-label="Select page of devices"></mat-paginator>
</aside>

<div class="modal" #addDevModal>
    <div class="modal-content">
        <div class="modal-header">
            <h3> Add a device </h3>
            <button type="button" class="close-btn" (click)="addDevModal.style.display = 'none'">
                <span class="material-symbols-rounded"> close </span>
            </button>
        </div>
        <div class="modal-body">
            <form class="device-form" action="">
                <div class="form-field">
                    <label for="device"> Device </label>
                    <select name="device" class="form-control" id="device">
                        <option value="" selected disabled> Select a device </option>
                        <option *ngFor="let device of deviceMappings" [value]="device.device"> {{device.device}} </option>
                    </select>
                </div>
                <div class="form-field">
                    <label for="count"> Device count </label>
                    <input type="number"
                          class="form-control"
                          id="count"
                          min="0">
                </div>
                <div class="holder">
                    <button type="button"
                            class="add-dev-btn"> Add </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" #filterModal>
    <div class="modal-content">
        <div class="modal-header">
            <h3> Filter </h3>
            <button class="close-btn" type="button" (click)="filterModal.style.display = 'none'">
                <span class="material-symbols-rounded"> close </span>
            </button>
        </div>
        <div class="modal-body">
            <app-filter />
        </div>
    </div>
</div>

<div class="modal" #changePartModal>
    <div class="modal-content change-part-modal">
        <div class="modal-header">
            <h3> Change Component </h3>
            <button class="close-btn" type="button" (click)="closeChangePartModal()">
                <span class="material-symbols-rounded"> close </span>
            </button>
        </div>
        <div class="modal-body">
            <mat-stepper linear #changeStepper>
                <mat-step [stepControl]="componentForm" errorMessage="This field is required">
                    <form class="component-form" action="" [formGroup]="componentForm">
                        <ng-template matStepLabel> Component </ng-template>
                        <div class="form-field">
                            <label for="component"> Component </label>
                            <select title="component" class="form-control" id="component" formControlName="component" (change)="getComponent($event)">
                                <option [value]="null" selected disabled> Select component to be replaced </option>
                                <option [value]="component" *ngFor="let component of components"> {{ component }} </option>
                            </select>
                        </div>
                        <div class="form-field">
                            <p> Replacement component is from: </p>
                            <div class="radio-container">
                                <div class="form-container">
                                    <input type="radio" id="existing" [value]="true" formControlName="isComponentExisting">
                                    <label for="existing"> existing condemned unit </label>
                                </div>
                                <div class="form-container">
                                    <input type="radio" id="new" [value]="false" formControlName="isComponentExisting">
                                    <label for="new"> new component </label>
                                </div>
                            </div>
                        </div>
                        <div class="btn-holder">
                            <button type="button" class="next-btn" (click)="nextIsExisting()" matStepperNext [disabled]="componentForm.get('isComponentExisting')?.value === null">
                                <p class="next-label"> Next </p>
                                <span class="material-symbols-rounded"> arrow_forward </span>
                            </button>
                        </div>
                    </form>
                </mat-step>
                @if(isExisting) {
                    <mat-step [stepControl]="changeExistingPartForm" errorMessage="This field is required">
                        <form action="" class="component-form" [formGroup]="changeExistingPartForm">
                            <ng-template matStepLabel> Existing Component </ng-template>
                            @if (componentChosen === 'RAM') {
                                <div class="form-field">
                                    <label for="ram-available"> RAM from {{ toChange.tag }} to replace: </label>
                                    <select title="" id="ram-available" class="form-control" formControlName="toRAMId">
                                        <option [value]="null" selected disabled> {{ componentChosen }} part/s  </option>
                                        <option [value]="defectiveRAM.capacityDTO.id" *ngFor="let defectiveRAM of toChange.ramDTOs"> RAM from this device: {{ defectiveRAM.capacityDTO.capacity }} GB </option>
                                    </select>
                                </div>
                            } @else if (componentChosen === 'Storage') {
                                <div class="form-field">
                                    <label for="storage-available"> Storage from {{ toChange.tag }} to replace: </label>
                                    <select title="" id="storage-available" class="form-control" formControlName="toStorageId">
                                        <option [value]="null" selected disabled> {{ componentChosen }} </option>
                                    </select>
                                </div>
                            }
                            <div class="form-field">
                                <label for="condemn"> List of condemned units </label>
                                <select title="condemn" id="condemn" class="form-control" (change)="getPartsFrom($event)">
                                    <option [value]="null" selected disabled> Choose from this list </option>
                                    <option [value]="condemned.tag" *ngFor="let condemned of condemnedUnits"> {{ condemned?.tag }} </option>
                                </select>
                            </div>
                            <div class="form-field">
                                    @if (componentChosen === 'Processor') {
                                        <label for="available-proc"> Available component: </label>
                                        <select title="" id="available-proc" class="form-control">
                                            <option [value]="null" selected disabled> {{ componentChosen }} part/s  </option>
                                            <option [value]="processor.id" *ngFor="let processor of condemnedParts"> Processor Details: {{ processor.brandDTO.brand }} {{ processor.brandSeriesDTO.seriesName }} {{ processor.cpuModifier }} </option>
                                        </select>
                                    } @else if (componentChosen === 'RAM') {
                                        <label for="available-ram"> Available component: </label>
                                        <select title="" id="available-ram" class="form-control" formControlName="fromRAMId">
                                            <option [value]="null" selected disabled> {{ componentChosen }} part/s  </option>
                                            <option [value]="ram?.capacityDTO?.id" *ngFor="let ram of condemnedParts"> RAM Details: {{ ram?.capacityDTO?.capacity }} GB </option>
                                        </select>
                                    } @else if (componentChosen === 'Storage') {
                                        <label for="available-storage"> Available component: </label>
                                        <select title="" id="available-storage" class="form-control" formControlName="fromStorageId">
                                            <option [value]="null" selected disabled> {{ componentChosen }} part/s  </option>
                                            <option [value]="storage.capacityDTO.id" *ngFor="let storage of condemnedParts"> Storage Details: {{ storage.capacityDTO.capacity }} GB {{ storage.type }} </option>
                                        </select>
                                    } @else if (componentChosen === 'Video Card') {
                                        <label for="available-gpu"> Available component: </label>
                                        <select title="" id="available-gpu" class="form-control">
                                            <option [value]="null" selected disabled> {{ componentChosen }} part/s  </option>
                                            <option [value]="gpu.capacityDTO.id" *ngFor="let gpu of condemnedParts"> Video Card Details: {{ gpu.capacityDTO.capacity }} GB </option>
                                        </select>
                                    }
                            </div>
                            <div class="btn-holder">
                                <button type="button" class="prev-btn" matStepperPrevious>
                                    <span class="material-symbols-rounded"> arrow_back </span>
                                    <p class="next-label"> Back </p>
                                </button>
                                <button type="button"
                                        class="next-btn"
                                        matStepperNext
                                        [disabled]="!changeExistingPartForm.value"
                                        (click)="assignPayload()">
                                    <p class="next-label"> Next </p>
                                    <span class="material-symbols-rounded"> arrow_forward </span>
                                </button>
                          </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel> Done </ng-template>
                        <div class="confirmation-container">
                            <header class="confirmation-header">
                                <span class="material-symbols-rounded confirmation-logo"> error </span>
                                <h2 class="confirmation-label"> Confirmation </h2>
                            </header>
                            @if (componentChosen === 'Processor') {
                                <div class="msg">
                                    <p> This action will replace <b>{{ toChange?.cpuDTO?.brandDTO?.brand }} {{ toChange?.cpuDTO?.brandSeriesDTO?.seriesName }} {{ toChange?.cpuDTO?.cpuModifier }}</b>
                                    to <b>{{ condemnedParts[0]?.brandDTO?.brand }} {{ condemnedParts[0]?.brandSeriesDTO?.seriesName }} {{ condemnedParts[0]?.cpuModifier }}</b> from <b>{{ condemnedDevice }}</b>.
                                    This was irreversible and the <b>{{ condemnedParts[0]?.brandDTO?.brand }} {{ condemnedParts[0]?.brandSeriesDTO?.seriesName }} {{ condemnedParts[0]?.cpuModifier }}</b>
                                    will be recorded as new <b>{{ componentChosen?.toLowerCase() }}</b> of <b>{{ condemnedDevice }}</b>. </p>
                                    <p> Would you like to proceed? </p>
                                </div>
                            } @else if (componentChosen === 'RAM') {
                                <div class="msg">
                                    <p> This action will replace <b>{{ chosenPart?.capacity }} GB</b> of RAM to
                                    <b>{{ condemnedParts[0]?.capacityDTO?.capacity }} GB</b> that came from <b>{{ condemnedDevice }}</b>.
                                    This was irreversible and the <b>{{ condemnedParts[0]?.capacityDTO?.capacity }} GB</b>
                                    will be recorded as new <b>{{ componentChosen?.toLowerCase() }}</b> of <b>{{ condemnedDevice }}</b>. </p>
                                    <p> Would you like to proceed? </p>
                                </div>
                            } @else if (componentChosen === 'Video Card') {

                            } @else if (componentChosen === 'Storage') {

                            }
                            <div class="confirmation-holder">
                                <button type="button" class="prev-btn" matStepperPrevious>
                                    <span class="material-symbols-rounded"> arrow_back </span>
                                    <p class="next-label"> Back </p>
                                </button>
                                <button type="button" class="replace-btn" (click)="changePart()">
                                    <p class="next-label"> Yes, replace component </p>
                                </button>
                            </div>
                        </div>
                    </mat-step>
                } @else {
                  <mat-step [stepControl]="changeNewPartForm" errorMessage="This field is required">
                      <form action="" [formGroup]="changeNewPartForm">
                          <ng-template matStepLabel> New Component </ng-template>
                          <div class="form-field">

                          </div>
                      </form>
                  </mat-step>
                  <mat-step>
                      <ng-template matStepLabel> Done </ng-template>
                  </mat-step>
                }
            </mat-stepper>
        </div>
    </div>
</div>

<div class="modal" #upgradePartModal>
    <div class="modal-content">
        <div class="modal-header">
            <h3> Upgrade Component </h3>
            <button class="close-btn" type="button" (click)="upgradePartModal.style.display = 'none'">
                <span class="material-symbols-rounded"> close </span>
            </button>
        </div>
        <div class="modal-body">

        </div>
    </div>
</div>

<div class="modal" #condemnUnitModal>
    <div class="modal-content">
        <div class="modal-header">
            <h3> Condemn {{ toCondemn?.tag }}? </h3>
            <button class="close-btn" type="button" (click)="condemnUnitModal.style.display = 'none'">
                <span class="material-symbols-rounded"> close </span>
            </button>
        </div>
        <div class="modal-body">
            <form action="" class="condemn-form" [formGroup]="condemnForm">
                <div class="form-field">
                    <label for="condemn-date"> Date condemned: </label>
                    <input type="date" id="condemn-date" class="form-control" formControlName="condemnedAt">
                </div>
                <div class="form-field">
                    <label for="reason"> Reason for condemn: </label>
                    <textarea name="" id="reason" formControlName="reason"></textarea>
                </div>
                <button type="submit" class="condemn-btn br" (click)="condemnDevice()" [disabled]="condemnForm.invalid && condemnForm.untouched"> Condemn Device </button>
            </form>
        </div>
    </div>
</div>
