<form action="" [formGroup]="supplierForm" class="flex flex-col gap-3 w-full">
    <div class="flex flex-col w-full">
        <label for="supplier"> Supplier </label>
        <input pInputText
               type="text"
               id="supplier"
               autocomplete="off"
               [pAutoFocus]="true"
               placeholder="Enter company name"
               formControlName="name">
    </div>
    <div class="flex flex-col w-full">
        <label for="location"> Location </label>
        <input pInputText
               type="text"
               id="location"
               autocomplete="off"
               placeholder="Enter company address"
               formControlName="location">
    </div>
    <div class="flex flex-col w-full">
        <label for="email"> Email Address </label>
        <input pInputText
               type="text"
               id="email"
               autocomplete="off"
               placeholder="Enter company email address"
               formControlName="emailAddress">
    </div>
    <div class="flex flex-col w-full">
        <label for="mobile"> Mobile Number </label>
        <input pInputText
               type="text"
               id="mobile"
               autocomplete="off"
               placeholder="Enter company mobile number"
               formControlName="contactNumber">
    </div>
    <div class="flex flex-col gap-3" formGroupName="contactPersonDTO">
        <div class="flex flex-col w-full">
            <label for="person"> Contact Person </label>
            <input pInputText
                   type="text"
                   id="person"
                   autocomplete="off"
                   placeholder="Enter contact person's name"
                   formControlName="name">
        </div>
        <div class="flex flex-col w-full">
            <label for="person-num"> Contact Person Mobile Number </label>
            <input pInputText
                   type="text"
                   id="person-num"
                   autocomplete="off"
                   placeholder="Enter contact person's mobile number"
                   formControlName="phoneNumber">
        </div>
    </div>
    <div class="flex w-full justify-between mt-3">
        <p-button label="Back"
                  severity="contrast"
                  (onClick)="isAddingBatch()"/>
        <p-button label="Save"
                  (onClick)="postSupplier()"/>
    </div>
</form>
